<div [formGroup]="form">
  <table>
    <thead>
      <tr>
        <th>Source</th>
        <th>Helm</th>
        <th>Chest Armor</th>
        <th>Gauntlets</th>
        <th>Leg Armor</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let set of armorSets | keyvalue"
        [formGroup]="armorSetFormGroup(set.key)"
      >
        <th>
          <mat-checkbox
            [checked]="checkAllSelected(set.key)"
            [indeterminate]="checkSomeSelected(set.key)"
            (change)="selectAll(set.key, $event.checked)"
            formControlName="all"
            >{{ set.key }}</mat-checkbox
          >
        </th>
        <td>
          <span *ngIf="set.value.Helm">
            <input type="checkbox" checked formControlName="Helm" />
            <label>{{ set.value.Helm.name }}</label>
          </span>
        </td>
        <td>
          <span *ngIf="set.value['Chest Armor']">
            <input type="checkbox" checked formControlName="Chest Armor" />
            <label> {{ set.value["Chest Armor"].name }}</label></span
          >
        </td>
        <td>
          <span *ngIf="set.value.Gauntlets">
            <input type="checkbox" checked formControlName="Gauntlets" />
            <label>{{ set.value.Gauntlets.name }}</label></span
          >
        </td>
        <td>
          <span *ngIf="set.value['Leg Armor']">
            <input type="checkbox" checked formControlName="Leg Armor" />
            <label>{{ set.value["Leg Armor"].name }}</label></span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
